In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [38]:
URL = "http://books.toscrape.com/catalogue/page-1.html"

In [20]:
response = requests.get(URL)

In [22]:
response = response.content

In [25]:
soup = BeautifulSoup(response, "html.parser")

In [27]:
ol = soup.find('ol')

In [30]:
articles = ol.find_all('article', class_='product_pod')

In [40]:
books = []

for i in range(1,5):
  URL = f"http://books.toscrape.com/catalogue/page-{i}.html"
  response = requests.get(URL)
  response = response.content
  soup = BeautifulSoup(response, "html.parser")
  ol = soup.find('ol')
  articles = ol.find_all('article', class_='product_pod')


  for article in articles:
    image = article.find('img')
    title = image.attrs['alt']
    star = article.find('p')
    star = star.attrs['class'][1]
    price = article.find('p', class_='price_color').text
    price = float(price[1:])

    books.append([title, price, star])

In [41]:
df = pd.DataFrame(books, columns=['Title', 'Price', 'Star'])

In [42]:
df

                                                Title  Price   Star
0                                A Light in the Attic  51.77  Three
1                                  Tipping the Velvet  53.74    One
2                                          Soumission  50.10    One
3                                       Sharp Objects  47.82   Four
4               Sapiens: A Brief History of Humankind  54.23   Five
..                                                ...    ...    ...
75                                           Security  39.25    Two
76      Saga, Volume 6 (Saga (Collected Editions) #6)  25.02  Three
77      Saga, Volume 5 (Saga (Collected Editions) #5)  51.04    Two
78  Reskilling America: Learning to Labor in the T...  19.83    Two
79  Rat Queens, Vol. 3: Demons (Rat Queens (Collec...  50.40  Three

[80 rows x 3 columns]

In [ ]:
df.to_csv('books.csv')